{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('personal.title') }}</h1>

    <div>
        <p>{{ __('personal.intro') }}</p>
    </div>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ textInput('fullname', 'form.fullname',
                     class="w-3-4",
                     required=true) }}

        {{ textInput('email', 'form.email',
                     required=true) }}

        {{ textInput('expiry', 'form.expiry',
                     hint='form.expiry.desc',
                     required=true) }}

        {{ textArea('address', 'form.address',
                    hint='form.address.desc') }}

        {{ fileInput('myfile', 'form.upload') }}

        {{ radioButtons('send_notifications', 'form.send_notifications', { 'Yes':'Yes','No':'No'},
                        hint='form.send_notifications.desc',
                        required=true) }}

        {{ checkBoxes('notify_type', 'form.notify_by', {'sms':'SMS','email':'Email'},
                      hint='form.notify_by.desc') }}

        {{ formButtons() }}
    </form>

{% endblock %}
