{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('landing.title') }}</h1>

    <div>
        <p>
            {{ __('landing.intro') }}
        </p>
    </div>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ textInput('fullname', 'form.fullname', { class: "w-3-4" }) }}
        {{ formButtons() }}
    </form>

{% endblock %}