%button-styles {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.1875;
  display: inline-block;
  position: relative;
  padding: 9px 12px;
  border-radius: 0;
  color: $color-white;
  background-color: $color-blue-light;
  border: 2px solid transparent;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;

  svg {
    vertical-align: middle;
    height: 1.6rem;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent;
  }

  &:focus {
    @include focus();
  }

  &:hover,
  &:focus {
    background-color: $color-blue-dark;
  }

  &:active {
    top: 2px;
    box-shadow: none;

    &::before {
      top: -4px;
    }
  }
}

form button {
  @extend %button-styles;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 5px;
  width: 100%;
}

.buttons--prev {
  @extend %button-styles;
  border-radius: 5px;
  background-color: $color-grey-light;
  color: #000000; 
  width: 180px;

  &:hover,
  &:focus {
    background-color:  $color-grey-dark;
  }
}

.buttons--next {
  @extend %button-styles;
  border-radius: 5px;
  margin-left: 30px;
  width: 180px;
}

a.button-link {
  @extend %button-styles;

  &.full-width {
    display: inline-block;
    width: 100%;
  }

  &.transparent {
    color: $color-blue-dark;
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
    box-shadow: none;
  }
}
