@mixin cursor-disable {
  cursor: url(img/disableddates.ico) 20 20, not-allowed;
}

$selected: rgb(0, 105, 47);
$hover: rgb(112, 180, 143);
$available: rgb(185, 218, 199);

.Calendar {
    border: .125rem solid #000;
    display: inline-block;
    min-height: 25.125rem;
    padding: 0.625rem;
    position: relative;
    width: 100%;
    min-width: 18rem;
    max-width: 25.5rem;
  }

  .Calendar-nav {
    display: flex;
    padding: 0.125rem;
  }

  .Calendar-nav--button,
  .Calendar-nav--select,
  .Calendar-help-close {
    background-color: #fff;
    border: 0.063rem solid currentColor;
    cursor: pointer;
    margin-right: .5rem;
  }

  .Calendar-nav--button {
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
    height: 2.750rem;
    width: 2.750rem;
    border:0;
  }

  .Calendar-nav--button:last-of-type {
    margin-right: 0;
  }

  .Calendar-nav--selects {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .Calendar-nav--select {
    height: 2.750rem;
    position: relative;
    width: 100%;
  }

  .Calendar-nav--select::after {
    border-top: 0.063rem solid black;
    border-right: 0.063rem solid black;
    border-width: 0.188rem;
    content: '';
    display: block;
    height: 0.625rem;
    position: absolute;
    right: .5rem;
    top: 50%;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: translateY(-50%) rotate(135deg);
    width: 0.625rem;
  }

  .Calendar-nav--select select {
    -webkit-appearance: none;
    background-image: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    height: 2.750rem;
    padding: 0 .5rem;
    width: 100%;
  }

  .Calendar-nav--button:focus,
  .Calendar-nav--select select:focus,
  .Calendar-item:hover:not(.Calendar-item--day):not(.Calendar-item--unavailable):not(:empty),
  .Calendar-item:focus:not(.Calendar-item--day):not(.Calendar-item--unavailable):not(:empty),
  .Calendar-help-trigger:focus,
  .Calendar-help-dialog:focus,
  .Calendar-help-close:focus {
    outline:  black inset;
    outline-offset: -4px;
    outline-offset: -4px;
    
  }

  .Calendar-item.Calendar-item--day, .Calendar-item.Calendar-item--empty{
    background-color: white;
  }

  .Calendar-row {
    display: flex;
    text-align: center;
  }

  .Calendar-item {
    background: $available;
    border: 0;
    outline:  none;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    height: 3.4rem;
    line-height: 200%;
    //margin: 0.156rem;
    //padding: 0.063rem;
    position: relative;
    width: 3.4rem;
  }

  .Calendar-item[aria-current] {
    //border-color: #005490
  }

  .Calendar-item[aria-pressed] {
    cursor: pointer;
  }

  .Calendar-item[aria-pressed="true"] {
    background-color: $selected;
    color: #fff;
  }

  .Calendar-days {
    color: #666;
  }

  .Calendar-item--unavailable {
    @include cursor-disable;
    opacity: .5;
    pointer-events: none;
    background-color: white;
    outline:none;
    border:0;
  }

  .Calendar-item.Calendar-item--unavailable:focus{
    outline:dotted;
    outline-offset: -4px;
    outline-offset: -4px;
  }

  .Calendar-item:not(.Calendar-item--unavailable):hover {
   background-color: $hover;
  }

  .Calendar-item.Calendar-item--empty:hover, .Calendar-item.Calendar-item--day:hover{
    background-color: white;
  }

  .Calendar-nav--select select:focus{  
    outline: block inset;
    outline-offset: -2px;
    outline-offset: -2px;
  }
  
  .Calendar-help {
    position: relative;
  }

  .Calendar-help-dialog {
    background-color: #fff;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    font-size:0.9rem;
  }

  .visually-hidden,
  .Calendar-help-trigger {
    background-color: #005493;
    clip: rect(0.063rem, 0.063rem, 0.063rem, 0.063rem);
    color: #fff;
    font-size: 0.063rem;
    height: .5px;
    overflow: hidden;
    position: absolute;
    top: .5rem;
    white-space: nowrap;
    width: .5px;
  }

  .Calendar-help-trigger:focus {
    clip: initial;
    font-size: inherit;
    height: auto;
    left: 50%;
    overflow: visible;
    transform: translateX(-50%);
    width: auto;
    z-index: 1;
  }

  .Calendar-help-close {
    color: #000;
    font-size: 1rem;
  }

  [aria-hidden="true"] {
    display: none;
  }
