.repeater {
}

.repeater-instance {
  padding: 10px 20px;
  border-left: 5px solid gray;
  border-top: 5px solid gray;

  > legend {
    padding: 10px 15px;
  }
}

a.button-link.remove-repeat-link,
a.button-link.repeat-link {
  padding: 5px;
}

a.button-link.remove-repeat-link {
  background-color: red;
}

a.button-link.repeat-link {
  background-color: green;
}
