{% extends "base.njk" %}

{% block content %}
    <h1>{{ __('confirmation.title') }}</h1>
    <div> 
        <ul>
         {% if data.box_type | length %}
             <li>Box Type <strong>{{ data.box_type  | dump }}</strong></li>
            {% else %}
            <li>No boxes selected</li>
        {% endif %}   
        </ul>

        <a href="/en/check-it">Edit</a>
    </div>
{% endblock %}
