{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('confirmation.title') }}</h1>

    <div>
        <p>
            {{ __('confirmation.intro') }}
        </p>
        <ul>
            <li>{{ __('form.applicationNumber') }}:  <strong>{{ data.applicationNumber }}</strong></li>
            <li>{{ __('form.fullname') }}:  <strong>{{ data.fullname }}</strong></li>
            <li>{{ __('form.email') }}: <strong>{{ data.email }}</strong></li>
            <li>{{ __('form.accessible') }}: <strong>{{ data.accessible }}</strong></li>


        </ul>
    </div>

{% endblock %}
