    <div class="page--container">
        {{ __('date.modified') }} {{ creation_date | date("YYYY/MM/DD") }}
    </div>
<footer>
  
     
    <div class="landscape">

    </div>
    <div class="page--container">
        <div class="footer-links">
            <ul>
                <li><a href={{ __('footer.link1') }}>{{ __('footer.link1.desc') }}</a></li>
                <li><a href={{ __('footer.link2') }}>{{ __('footer.link2.desc') }}</a></li>
                <li><a href={{ __('footer.link3') }}>{{ __('footer.link3.desc') }}</a></li>
                <li><a href={{ __('footer.link4') }}>{{ __('footer.link4.desc') }}</a></li>
                <li><a href={{ __('footer.link5') }}>{{ __('footer.link5.desc') }}</a></li>
            </ul>
        </div>
        <div class="canada-wordmark">
            <img src="/img/wmms-blk.svg" alt="{{ __('wordmark.alt') }}">
        </div>
    </div>
</footer>