{% extends "base.njk" %}
{% from 'banner.njk' import banner as banner %}

{% block content %}
    <h1>{{ __('start.title') }}</h1>

    

    <h2>{{ __('start.You.will.need') }}</h2>
    <div>{{ __('start.app.email')| safe }}</div>
    <div>{{ __('start.next') | safe }}</div>
    <h2>{{ __('start.Privacy.notice')| safe }}</h2>

    <p>{{ __('start.intro') | safe }}</p>

    <form method="post">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ checkBoxes('policy', { '1':__('start.policyAgree')}, data.send_notifications, 'form.policy', errors, __('required') )}}

        {{ startButton() }}

    </form>

{% endblock %}
