{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('registration.title') }}</h1>

    <form method="post">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ textInput( 'applicationNumber', 'form.applicationNumber') }}
        
        {{ textInput('email', 'form.email') }}

        {{ textInput('confirmEmail', 'form.confirmEmail') }}
        
        {{ radioButtons('accessible', { '1': __('registration.title'),'2':'No'}, data.send_notifications, 'form.accessible', errors) }}

        {{ formButtons() }}
    </form>

{% endblock %}
