{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('registration.title') }}</h1>

    <div>
        <p>{{ __('registration.intro') }}</p>
    </div>
    <form method="post">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ textInput( 'applicationNumber', 'form.applicationNumber') }}

        {{ textInput('fullname', 'form.fullname', { class: "w-3-4" }) }}
        
        {{ textInput('email', 'form.email') }}

        {{ textInput('confirmEmail', 'form.confirmEmail') }}
        
        {{ radioButtons('accessible', { '1':'Yes','2':'No'}, data.send_notifications, 'form.accessible', errors) }}

        {{ formButtons() }}
    </form>

{% endblock %}
