{% macro checkBoxes(relkey, question, labels,
                    required=false,
                    hint=false,
                    class=false) %}
    {% set error = getError(relkey) %}
    {% set key = getName(relkey) %}

    <div class="{{ 'has-error' if error }} cds-form-control">
        <fieldset class="fieldset">
            <legend class="fieldset__legend">
            {% if required %}
                <span aria-hidden="true" class="required">*</span>
            {% endif %}
            {{ __(question) }}
            {% if required %}
                <span class="required">{{ __("required")}}</span>
            {% endif %}
            </legend>

            {% if hint %}
                <span class="form-message">{{ __(hint) }}</span>
            {% endif %}
            <div class="multiple-choice multiple-choice--checkboxes" id="{{ key }}">
                {% if error %}
                    {{ validationMessage(error.msg, key) }}
                {% endif %}

                {% for index, label in labels %}
                    {% set val = getData(relkey, index) %}
                    {% set name = getName(relkey, index) %}

                    <div class="multiple-choice__item">
                        <input type=checkbox
                            id="{{ name }}"
                            name="{{ name }}"
                            {% if val %} checked {% endif %}
                            {% if error %}
                                aria-describedby="{{ name }}-error"
                                aria-invalid=true
                            {% endif %}
                            {% if loop.first and isFirstError(relname) %}
                                autofocus=true
                            {% endif %}
                        />
                        <label for="{{ name }}">{{ __(label) }}</label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
{% endmacro %}
