{% from 'label-text.njk' import labelText with context  %}
{% from 'hint-text.njk' import hintText with context %}
{% from 'validation-message.njk' import validationMessage with context %}

{% macro checkBoxes(key, values, selectedVals, question, errors, attributes) %}
    <div class="{{ 'has-error' if errors and errors[key] }}">
        <fieldset class="fieldset">
            <legend class="fieldset__legend">
            {{ labelText(question, attributes.required) }}
            </legend>
            {{ hintText(attributes.hint) }}
            <div class="multiple-choice multiple-choice--checkboxes" id="{{ key }}">
                {{ validationMessage(errors, key)}}
                {% for index, val in values %}
                    <div class="multiple-choice__item">
                        <input id="{{ key }}{{ val }}" name="{{ key }}" type="checkbox" value="{{ val }}" {% if selectedVals and val in selectedVals %} checked="checked" {% endif %} {% if errors and errors[key] %} aria-describedby="{{ key + '-error' }}" aria-invalid="true" {% endif %}>
                        <label for="{{ key }}{{ val }}">{{ __(val) }}</label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
{% endmacro %}
