{#
  - `name`: field name
  - `label`: text for the label
  - `attributes`: object of optional attributes: class, hint, divClasses, autocomplete
#}
{% macro textInput(relname, label,
                   hint=false,
                   class=false,
                   autocomplete=false) %}
    {% set val = getData(relname) %}
    {% set error = getError(relname) %}
    {% set name = getName(relname) %}

    <div class="{{ 'has-error' if error }} cds-form-group">
        <label for="{{ name }}" id="{{ name }}__label">
            {% if attributes.required %}
                <span aria-hidden="true" class="required">*</span>
            {% endif %}
            {{ __(label) }}
            {% if attributes.required %}
                <span class="required">{{ __("required") }}</span>
            {% endif %}
        </label>

        {% if hint %}
            <span class="form-message">{{ __(attributes.hint) }}</span>
        {% endif %}

        {% if error %}
            {{ validationMessage(error.msg, name) }}
        {% endif %}

        <input type="text"
            id="{{ name }}"
            name="{{ name }}"
            value="{{ val }}"
            {% if autocomplete %}
                autocomplete="{{ autocomplete }}"
            {% endif %}
            class="cds-input {{ class if class }}"
            {% if error %}
                aria-describedby="{{ name }}-error"
                aria-invalid=true
            {% endif %}
            {% if isFirstError(relname) %}
                autofocus=true
            {% endif %}
        />
    </div>
{% endmacro %}
