{% macro radioBlock(relname, question, values,
                    useNested=true,
                    required=false,
                    hint=false,
                    class=false) %}
    {% set val = getData(relname) %}
    {% set error = getError(relname) %}
    {% set name = getName(relname) %}

    <div class="{{ 'has-error' if error }} cds-form-control">
        <fieldset>
            <legend class="fieldset__legend">
            {% if required %}
                <span aria-hidden="true" class="required">*</span>
            {% endif %}
            {{ __(question) if question }}
            {% if required %}
                <span class="required">{{ __("required")}}</span>
            {% endif %}
            </legend>
            {% if attributes.hint %}
                <span class="form-message">{{ __(attributes.hint) }}</span>
            {% endif %}

            <div class="multiple-choice multiple-choice--radios" id="{{ key }}">
                {% if errors and errors[key] %}
                    {{ validationMessage(errors[key].msg, key) }}
                {% endif %}
                {% for option, label in values %}
                    <div class="multiple-choice__item">
                        <input type=radio
                            id="{{ name }}__{{ option }}"
                            name="{{ name }}"
                            value="{{ option }}"
                            {% if option == val %} checked {% endif %}
                            {% if error %}
                                aria-describedby="{{ name }}-error"
                                aria-invalid="true"
                            {% endif %}
                        />
                        <label for="{{ name }}__{{ option }}">{{ __(label) }}</label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
{% endmacro %}

{% macro radioButtons(relname, question, values) %}
  {% call radioBlock(relname, question, values, useNested=false) %}
  {% endcall %}
{% endmacro %}
